In [1]:
# Python 3 - MySQL Database Access Tutorial:
# https://www.tutorialspoint.com/python3/python_database_access.htm
# Inserting into a MySQL Database Tutorial:
# https://pymysql.readthedocs.io/en/latest/user/examples.html
# Reading MySQL data into a Pandas DataFrame
# https://pythondata.com/quick-tip-sqlalchemy-for-mysql-and-pandas/

import pymysql
import pandas as pd
import sqlalchemy as sql
import os

# Create connection variables
DB_USER = os.environ.get('DB_USER')
DB_PASS = os.environ.get('DB_PASS')
DB_HOST = 'localhost'
DB_PORT = 3306
DATABASE = 'movies'

# Connect to the database for pymysql connection
connection = pymysql.connect(host=DB_HOST,
                             user=os.environ.get('DB_USER'),
                             password=os.environ.get('DB_PASS'),
                             db=DATABASE,
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

# Create connection string for sqlalchemy
connect_string = 'mysql+pymysql://{}:{}@{}:{}/{}?charset=utf8'.format(DB_USER, DB_PASS, DB_HOST, DB_PORT, DATABASE)

# To setup the persistent connection, you do the following:
sql_engine = sql.create_engine(connect_string)

In [2]:
# Write query
query = "SELECT * FROM BoxOfficeMojo"
# Read SQL query into a DataFrame
dfSQL = pd.read_sql_query(query, sql_engine)

dfSQL

/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

                                       Title
0                              Black Panther
1                              Incredibles 2
2                                 Deadpool 2
3                       Ant-Man and the Wasp
4                              A Quiet Place
5       Hotel Transylvania 3:Summer Vacation
6                                  Ocean's 8
7                Mamma Mia! Here We Go Again
8                                    The Nun
9                          A Wrinkle in Time
10                            Rampage (2018)
11                        I Can Only Imagine
12                           The First Purge
13                                 Book Club
14                    Insidious:The Last Key
15                      Pacific Rim Uprising
16                               Tomb Raider
17                                       Tag
18                          Overboard (2018)
19                       The Predator (2018)
20                             I Feel Pretty
21                               Red Sparrow
22                        Breaking In (2018)
23                            Den of Thieves
24                    Tyler Perry's Acrimony
25                                 Smallfoot
26                                Uncle Drew
27                               Love, Simon
28                              The Commuter
29                                   Mile 22
...                                      ...
14619                 The Girl with Red Hair
14620                     Eyes of a Stranger
14621  Herbie Goes to Monte Carlo (Re-issue)
14622                        Beyond the Reef
14623                           Hard Country
14624                                  Kelly
14625                             Sea Wolves
14626                         Glen or Glenda
14627         Herbie Goes Bananas (Re-issue)
14628                          Sunday Lovers
14629       Cattle Annie and Little Britches
14630                            Man of Iron
14631               Freaky Friday (Re-issue)
14632                     Second Hand Hearts
14633                             Gilda Live
14634             Just Tell Me What You Want
14635                                  Carny
14636                       Why Would I Lie?
14637                             Heart Beat
14638                 Those Lips, Those Eyes
14639                          Leo and Loree
14640                                 Phobia
14641                                Windows
14642               Bon Voyage Charlie Brown
14643       When a Stranger Calls (Re-issue)
14644                               Nijinsky
14645                         One-Trick Pony
14646              A Small Circle of Friends
14647                            Home Movies
14648                         Breaking Glass

[14649 rows x 1 columns]

In [4]:
# Read in dataset
df = pd.read_csv('/Users/Love/Documents/Projects/BoxOfficeMojo-Python-WebScraper/src/data/BoxOfficeMojoDataset.csv')

# Ensue the features are in the appropriate order to be inserted into the database
df[['id', 'Title', 'Distributor', 'Genre', 'MPAARating', 'ProductionBudget', 'ReleaseDate', 'Runtime', 'DomesticGross', 'ForeignGross', 'WorldwideGross', 'OpeningWeekendGross', 'OpeningWeekendTheaters', 'WidestTheaters', 'Genres', 'URL']]

In [33]:
for i in range(len(df)):
    with connection.cursor() as cursor:
        # Create a new record
        sql = "INSERT INTO `BoxOfficeMojo` (`id`, `Title`, `Distributor`, `Genre`, `MPAARating`, `ProductionBudget`, `ReleaseDate`, `Runtime`, `DomesticGross`, `ForeignGross`, `WorldwideGross`, `OpeningWeekendGross`, `OpeningWeekendTheaters`, `WidestTheaters`, `Genres`, `URL`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
        cursor.execute(sql, (str(df.iloc[i][0]), str(df.iloc[i][1]), str(df.iloc[i][2]), str(df.iloc[i][3]), str(df.iloc[i][4]), str(df.iloc[i][5]), str(df.iloc[i][6]), str(df.iloc[i][7]), str(df.iloc[i][8]), str(df.iloc[i][9]), str(df.iloc[i][10]), str(df.iloc[i][11]), str(df.iloc[i][12]), str(df.iloc[i][13]), str(df.iloc[i][14]), str(df.iloc[i][15])))
    # connection is not autocommit by default. So you must commit to save your changes.
    connection.commit()